# Dependencies
node_modules/

# Build outputs
dist/
build/

# Env files (VERY IMPORTANT)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# IDE / Editor files
.vscode/
.idea/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
ehthumbs.db

# Optional: cache
.cache/